#gameBoard{
    height: 75vh;
    width: 70%;
    border: 5px solid blue;
    border-radius: 4px;
    background-color: blue;
}

.boardRow{
    border: 2px solid #fafa37;
    height: 80px;
    text-align: center;
    background-color: yellow;
}

.cell{
    border: 4px solid blue;
    border-radius: 150px;
    border-style: groove;
    height: 50px;
    display: inline-block;
    width: 13%;
    margin: 0px;
    margin-top: 10px;
    background-color: white;
}

#boardWrapper{
    text-align: center;
}

#title{
    text-align: center;
}

#moveRow{
    width: 70%;
    height: 81px;
    text-align: center;
}

.moveCell{
    border-radius: 150px;
    height: 60px;
    display: inline-block;
    width: 13%;
    margin: 0px;
    margin-top: 10px;
}

